# Type checker cache
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/
.venv-1/

# Environment variables
.env

# Python cache
src/.pytest_cache/
src/agent/__pycache__/
src/agent/tools/__pycache__/
src/agent/llm/__pycache__/
tests/.pytest_cache/
tests/unit/agent/tools/__pycache__/
tests/unit/agent/tools/.pytest_cache/